body {
    background-image: url('hypnospace/brick-dark.png');
    font-family:'Courier New', Courier, monospace !important;
    font-weight: bold;
}

li:not(.divider) {
    outline-style: inset !important;
    outline-width: 5px !important;
    border-radius: 0px !important;
}

.divider {
    border-bottom: double !important;
}

* {
    backdrop-filter: none !important;
}

#legend .example {
    border-radius: 0% !important;
    outline-width: 4px !important;
    outline-style: inset;
}


.loved {
    list-style-image: url('hypnospace/love.png')
}
.hated {
    list-style-image: url('hypnospace/hate.png')
}
.atrocious {
    list-style-image: url('hypnospace/atrocious.png')
}
.mixed {
    list-style-image: url('hypnospace/meh.png')
}
.skip {
    list-style-image: url('hypnospace/x.png')
}
.trolley {
    list-style-image: url('hypnospace/cart.png')
}
