#AlanWakeAmerican {
    background: url("img/alanwakeamerican.jpg");
}
#ControlAWE {
    background: url("img/controlawe.png");
}
#AlanWake {
    background: url("img/alanwake.jpg");
    background-position: top !important;
}
#SlayThePrincess {
    background: url("img/slaytheprincess.jpg");
}
#MarioWonder {
    background: url("img/mariowonder.png");
}
#BaldursGate3 {
    background: url("img/baldursgate.jpg");
}
#PizzaTower {
    background: url("img/pizzatower.jpg");
    background-position: bottom -10px center !important;
}
#MetalGearSolid1
{
    background: url("img/mgs1.jpg");
}
#MetalGearSolid2SonsofLiberty
{
    background: url("img/mgs2.jpg");
}
#MetalGearSolid3SnakeEater
{
    background: url("img/mgs3.jpg");
}
#MetalGearSolid4GunsofthePatriots
{
    background: url("img/mgs4.jpg");
}
#MetalGearSolidPeaceWalker
{
    background: url("img/mgspw.jpg");
}
#MetalGearSolidVGroundZeroes
{
    background: url("img/mgsgz.jpg");
}
#MetalGearSolidVPhantomPain
{
    background: url("img/mgspp.jpg");
}
#PaperMarioTTYD
{
    background: url("img/papermario.jpg");
}
#VA11HallA
{
    background: url("img/va11.jpg");
}
#CryptoftheNecrodancer
{
    background: url("img/crypt.jpg");
}
#FireEmblemThreeHouses
{
    background: url("img/3houses.jpg");
}
#Killer7
{
    background: url("img/killer7.jpg");
}
#AceCombat7SkiesUnknown
{
    background: url("img/ac7.jpg");
}
#NieRReplicantver122474487139
{
    background: url("img/nier.jpg");
}
#TheVoid
{
    background: url("img/thevoid.jpg");
}
#LegacyofKainSoulReaver
{
    background: url("img/kain.jpg");
}
#LiesOfP {
    background: url("img/liesofp.jpg");
}
#Eternights {
    background: url("img/eternights.jpg");
}
#AlanWake2 {
    background: url("img/alanwake2.jpg");
}
#Starfield {
    background: url("img/starfield.jpg");
}
#ApolloJustice {
    background: url("img/apollojustice.png");
}
#BabySteps {
    background: url("img/babysteps.jpg");
}
#ArmoredCore6 {
    background: url("img/armoredcore6.jpg");
}

@media (max-width: 540px) {
    #PizzaTower {
        background-position: bottom -10px center !important;;
    }
}