#ZeroEscapeZeroTimeDilemma
{
    background: url("img/ztd.jpg");
}
#ZeroEscapeVirtuesLastReward
{
    background: url("img/vlr.jpg");
}
#ZeroEscapeNineHoursNinePersonsNineDoors
{
    background: url("img/999.jpg");
}
#Wandersong
{
    background: url("img/wandersong.jpg");
}
#Persona4Golden
{
    background: url("img/persona 4.jpg");
}
#SteinsGate
{
    background: url("img/steinsGate.jpg");
}
#HypnospaceOutlaw
{
    background: url("img/Hypnospace_Outlaw.jpg");
    image-rendering: pixelated;
}
#HalfLife1
{
    background: url("img/hl1.jpg");
}
#HalfLife2
{
    background: url("img/hl2.jpg");
}
#HalfLife2Episode1
{
    background: url("img/hl2e1.jpg");
}
#HalfLife2Episode2
{
    background: url("img/hl2e2.jpg");
}
#DeadlyPremonition
{
    background: url("img/dp.jpg");
}
#GravityRush
{
    background: url("img/gr.jpg");
}
#ThirteenSentinels
{
    background: url("img/13s.jpg");
}
#MetalGearSolid1
{
    background: url("img/mgs1.jpg");
}
#MetalGearSolid2SonsofLiberty
{
    background: url("img/mgs2.jpg");
}
#MetalGearSolid3SnakeEater
{
    background: url("img/mgs3.jpg");
}
#MetalGearSolid4GunsofthePatriots
{
    background: url("img/mgs4.jpg");
}
#MetalGearSolidPeaceWalker
{
    background: url("img/mgspw.jpg");
}
#MetalGearSolidVGroundZeroes
{
    background: url("img/mgsgz.jpg");
}
#MetalGearSolidVPhantomPain
{
    background: url("img/mgspp.jpg");
}
#RabiRibi
{
    background: url("img/rabiribi.jpg");
}
#Dujanah
{
    background: url("img/dujanah.jpg");
}
#AISomniumFiles
{
    background: url("img/aisomnium.jpg");
}
#AISomniumFiles2
{
    background: url("img/aisomnium2.jpg");
}
#PaperMarioTTYD
{
    background: url("img/papermario.jpg");
}
#VA11HallA
{
    background: url("img/va11.jpg");
}
#CryptoftheNecrodancer
{
    background: url("img/crypt.jpg");
}
#FireEmblemThreeHouses
{
    background: url("img/3houses.jpg");
}
#Killer7
{
    background: url("img/killer7.jpg");
}
#AceCombat7SkiesUnknown
{
    background: url("img/ac7.jpg");
}
#NieRReplicantver122474487139
{
    background: url("img/nier.jpg");
}
#TheVoid
{
    background: url("img/thevoid.jpg");
}
#LegacyofKainSoulReaver
{
    background: url("img/kain.jpg");
}
#NeonWhite 
{
    background: url("img/neon.jpg");
}
#LifeIsStrange
{
    background: url("img/lifeisstrange.jpg");
}
#LifeIsStrange2
{
    background: url("img/lifeisstrange2.jpg");
}
#LifeIsStrangeBTS
{
    background: url("img/lifeisstrangebts.jpg");
}
#Stray 
{
    background: url("img/stray.jpg");
    background-position: bottom !important;
}
#CaptainSpirit
{
    background: url("img/captainspirit.jpg");
}
#ResidentEvilVillage
{
    background: url("img/residentevilvillage.jpg");
}
#LifeIsStrangeTrueColors {
    background: url("img/lifeisstrangetruecolors.jpg");
}
#MineHaunt {
    background: url("img/minehaunt.png");
    image-rendering: pixelated;
}
#Arkanoid {
    background: url("img/arkanoid.png");
    image-rendering: pixelated;
}
#DeadSpace {
    background: url("img/deadspace.jpg");
}
#BlackMesa {
    background: url("img/blackmesa.jpg");
}
#OpposingForce {
    background: url("img/opposingforce.jpg");
}
#BlueShift {
    background: url("img/blueshift.jpg");
}
#HuntDownTheFreeman {
    background: url("img/huntdownthefreeman.jpg");
}
#Forspoken {
    background: url("img/forspoken.jpg");
}
#GodOfWarRagnarok {
    background: url("img/godofwar.jpg")
}
