:root {
    color-scheme: dark;
}

body {
    background-color: #37393E;
    color: white;
    max-width: 800px;
    margin: auto;
    font-family: 'Bebas Neue', monospace;
    padding: 0px 4rem;
}
footer {
    padding: 2rem 2rem;
    background-color: rgba(0,0,0,0.25);
}
footer p {
    font-size: 1.3rem;
    margin-bottom: 0.25rem;
    color:rgb(212, 212, 212)
}

p {
    font-size: 2rem;
    margin: 0px 0.5rem;
}
h1 {
    font-size: 4rem;
}
h2 {
    margin-bottom: 0px;
    font-size: 3rem;
}
li {
    border: solid 2px white;
    border-radius: 0.25rem;
    font-size: 2rem;
    margin: 1rem auto;
    list-style: outside none;
    background-size: cover !important;
    background-position: left !important;
}
li p {
    padding: 2.5rem;
    margin: 0px;
    height: 100%;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.33);
}

.loved {
    list-style-type: '😀 ';
}
.hated {
    list-style-type: '😡 ';
}
.atrocious {
    list-style-type: '🤬 ';
}
.mixed {
    list-style-type: '😕 ';
}
.skip {
    list-style-type: '〰️ ';
}
.trolley {
    list-style-type: '🛒 ';
}

#future > ul > li:first-child {
    list-style-type: 'Next Up '
}

#legend {
    display:flex;
    flex-wrap:wrap
}

.example {
    display: inline-block;
    border: 2px solid white;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    flex-shrink: 0;
}

.adHoc{
    border-color:rgb(10, 168, 5) !important;
}
.seasonal {
    border-color:rgb(168, 5, 127) !important;
    border-style: dotted;
}
.filler {
    border-color: rgb(8, 129, 241) !important;
    border-style: dashed;
}
.dropped {
    background-color: white;
    background: repeating-linear-gradient(-45deg, #00000050, #00000050 1rem, #ff000027 1rem, #ff000027 2rem);
}
.dropped p {
    background: repeating-linear-gradient(-45deg, #00000050, #00000050 1rem, #ff000027 1rem, #ff000027 2rem);
    width: calc(100% - 5rem);
}
#past .secret {
    margin-left: 3rem;
}
.secret p {
    padding: 0.25rem 2.5rem !important;
}
.hidden {
    display: none; 
}
p[onclick] {
    cursor: pointer;
}

.collapsed li:nth-child(n+9) {
    display: none;
}

button {
    margin: auto;
    font-size: 2rem;
    display: block;
    background-color: #1e2023;
    border: 2px solid white;
    border-radius: 0.25rem;
    padding: 0.75rem;
}
button:hover {
    background-color: #2e3033; 
}

@media (max-width: 540px) {
    body {
        padding: 0px 1rem;
    }
    #future > ul > li:first-child {
        list-style-type: '🔜'
    }
    p:not(.textOverlay) {
        font-size: 1.5rem !important;
        margin: 0px 0.5rem;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        margin-bottom: 0px;
        font-size: 2rem !important;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }
}