:root {
    color-scheme: dark;
}

body {
    --bg-color: #37393e;
    background-color: var(--bg-color);
    color: white;
    max-width: 800px;
    margin: auto;
    font-family: 'Bebas Neue', monospace;
    font-size-adjust: ch-width 0.4;
    padding: 0px 4rem;
}
footer {
    padding: 2rem 2rem;
    background-color: rgba(0,0,0,0.25);
}
footer p {
    font-size: 1.3rem;
    margin-bottom: 0.25rem;
    color:rgb(212, 212, 212)
}

p {
    font-size: 2rem;
    margin: 0px 0.5rem;
}
h1 {
    font-size: 4rem;
    margin-bottom: 0px;
}
h2 {
    margin-bottom: 0px;
    font-size: 3rem;
}
li {
    height: 124px;
    outline: solid 2px white;
    border-radius: 0.25rem;
    font-size: 2rem;
    margin: 1rem auto;
    list-style: outside none;
    background-size: cover;
    background-position: center;
}
.cardContainer {
    container-name: card;
    position: relative;
}
.card {
    display: flex;
    height: 100%;
}
li p {
    margin: 0px;
    width: fit-content;
}

li.divider {
    height: unset;
    outline: none;
    border-radius: 0px;
    border-bottom: dashed;
    text-align: center;
}

#scheduleContainer {
    overflow-x: auto;
    overflow-y:hidden;
}
#weekSchedule {
    display: flex;
    position: relative;
    left: 0px;
    min-width: 660px;
}
#weekSchedule div {
    font-size: 2rem;
    padding: 1rem;
    border: solid white 2px;
    border-right: none;
    flex-grow: 1;
    text-align: center;
    text-decoration: underline dotted;
    text-decoration-thickness: 1px;
    cursor: help;
    min-width: 60px;
}
#weekSchedule div:first-child {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
#weekSchedule div:last-child {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border: solid white 2px;
}

#weekSchedule div[title="Likely"] {
    background-color: rgba(0, 255, 42, 0.15);
}
#weekSchedule div[title="Possible"] {
    background-color: rgba(200, 255, 0, 0.15);
}
#weekSchedule div[title="Unlikely"] {
    color: rgb(180, 180, 180);
    background-color: rgba(255, 153, 0, 0.15);
}
#weekSchedule div[title="Very unlikely"] {
    color: rgb(180, 180, 180);
    background-color: rgba(255, 0, 0, 0.15);
}
#weekSchedule div[title="No stream"] {
    color: rgb(180, 180, 180);
    background-color: rgba(0, 0, 0, 0.5);
}
#dateRange {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0px;
    min-width: 660px;

}
#dateRange p {
    font-size: 1rem !important;
    margin: 0px !important;
}

.videoLinks {
    margin-right: 1rem;
    display: flex;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.75));
    flex-grow: 1;
    justify-content: end;
}
.videoLinks a {
    height:100%; 
    display: flex;
    align-items: center;
    filter: saturate(0%) brightness(20);
    text-decoration: none;;
}
.videoLinks img {
    height: 2rem;
    padding: 0.5rem;
}
a[title*="Unofficial"]:after {
    content: "*";
    position: absolute;
    right: 0;
}
.videoLinks a:hover {
    filter: saturate(100%);
}
.videoLinks a[href=""] {
    display: none;
}

.loved::before {content: '😀 ';}
.hated::before {content: '😡 ';}
.atrocious::before {content: '🤬 ';}
.mixed::before {content: '😕 ';}
.skip::before {content: '〰️ ';}
.trolley::before {content: '🛒 ';}

li::before {
    left: -3rem;
    top: calc(50% - 1rem);
    position: absolute;
}
li.thin::before {
    top: unset;
}

#future li:first-child::before {
    content: 'Next Up ';
    left: -6rem;
}

#legend {
    display:flex;
    flex-wrap:wrap;
}
#legend span {
    font-size: 2rem;
    margin-right: 1rem;
}

.example {
    display: inline-block;
    outline: 2px solid white;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    position:relative;
    top: 0.2rem;
    margin: 0.2rem;
}

.adHoc{
    outline-color:rgb(10, 168, 5);
}
.seasonal {
    outline-color:rgb(168, 5, 127);
    outline-style: dotted;
}
.planned {
    outline-color: rgb(8, 129, 241);
    outline-style: dashed;
}
.dropped {
    background-color: white;
    background: repeating-linear-gradient(-45deg, #00000050, #00000050 1rem, #ff000027 1rem, #ff000027 2rem);
}
.dropped .card {
    background: repeating-linear-gradient(-45deg, #00000050, #00000050 1rem, #ff000027 1rem, #ff000027 2rem);
}
.indent {
    margin-left: 3rem;
}
.thin {
    height: fit-content;
    min-height: 1.25rem;
    line-height: initial;
}
.hidden {
    display: none !important; 
    background: none !important;
}
p[onclick] {
    cursor: pointer;
}

.collapsed li:nth-child(n+9) {
    display: none;
}
.collapsed:not(.short) button:nth-child(-n + 9) {
    display: none;
}
.collapsed.short li:nth-child(n+4) {
    display: none;
}
.collapsed.short button:nth-child(-n + 4) {
    display: none;
}

button {
    margin: auto;
    font-size: 2rem;
    display: block;
    background-color: #1e2023;
    border: 2px solid white;
    border-radius: 0.25rem;
    padding: 0.75rem;
}
button:hover {
    background-color: #2e3033; 
}

.horizontal-pair {
    display: flex;
    justify-content: stretch;
    flex-wrap:wrap
}
.horizontal-pair div {
    flex-grow: 1;
    min-width: 50%;
    max-width:100%;
}
.horizontal-pair h3 {
    font-size: 2rem;
    padding: 0px;
    margin: 0px 0px -10px 3rem;
}
.textOverlay {
    display: flex;
    justify-content: center;
    padding: 0px 1rem;
    backdrop-filter: blur(2px);
    flex-direction: column;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    background-color: rgba(0, 0, 0, 0.33);
}
.textOverlay:has(img) {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    backdrop-filter: none;
    padding: 0.75rem 1rem;
    background-color: transparent;
}
.searchableName {
    position: absolute;
    opacity: 0;
    user-select: none;
}
.gameLogo {
    height: 100%;
    max-width: min(24rem, 50vw);
    width: fit-content;
    object-fit: contain;
    margin: 0px 1rem;
    overflow: hidden;
    user-select: none;
}
.gameLogo::after {
    content: attr(data-name);
    display: block;
    font-size: 1.5rem;
}
.gameImage {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    border-radius: inherit;
    user-select: none;
}

.note {
    font-size: 1.2rem;
    background-color: rgba(0,0,0,0.75);
    padding: 0.3rem 0.5rem;
    width: max-content;
    border-radius: 0.3rem;
    position: absolute;
    left: -1rem;
    top: 0.2rem;
    padding-top: 0.55rem;
}
.no-underline {
    text-decoration: none;
}

#promoBanner {
    position: relative;
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 900;
    color: rgb(202, 131, 0);
    background-color: rgb(48, 20, 0);
    border-radius: 0.25rem;
    border: 0.1rem rgb(202, 131, 0) solid;
    padding: 1rem;
    transition: all 0.2s;
    box-shadow:
        0 0px 0px rgba(0, 0, 0, 0.035),
        0 0px 0px rgba(0, 0, 0, 0.049),
        0 3px 5.5px rgba(0, 0, 0, 0.06),
        0 10px 15px rgba(0, 0, 0, 0.07)
    ;
}
.promoBanner:hover {
    transform: translateY(-0.15rem);
    color: rgb(255, 183, 0);
    box-shadow:
        0 2.5px 0px rgb(255, 183, 1),
        0 6px 4px rgba(255, 184, 4, 0.288),
        0 6px 7.4px rgba(255, 184, 4, 0.188),
        0 15px 20px rgba(255, 184, 4, 0.088)
    ;
}

#jadseya {
    background-image: url('img/jadseya-banner-background.webp');
    animation: 20s infinite linear jadseya-scroll; 
    background-size: unset;
    background-color: rgb(39, 17, 0);
}

@keyframes jadseya-scroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -128px 256px;
    }
}

@media (max-width: 540px) {
    body {
        padding: 0px 1rem;
    }
    #future > ul > li:first-child::before {
        content: '🔜';
        left: -3rem;
    }
    p:not(.textOverlay) {
        font-size: 1.5rem !important;
        margin: 0px 0.5rem;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        margin-bottom: 0px;
        font-size: 2rem !important;
    }
    #promoBanner {
        font-size: 1.75rem;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }
}

@media (prefers-reduced-motion) {
    #jadseya {
        animation: none !important; 
    }
}