@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    color-scheme: dark;
}

body {
    background-color: #37393E;
    color: white;
    max-width: 800px;
    margin: auto;
    font-family: 'Bebas Neue', monospace;
    padding: 0px 4rem;
}
footer {
    padding: 2rem 2rem;
    background-color: rgba(0,0,0,0.25);
}
footer p {
    font-size: 1.3rem;
    margin-bottom: 0.25rem;
    color:rgb(212, 212, 212)
}

p {
    font-size: 2rem;
    margin: 0px 0.5rem;
}
h1 {
    font-size: 4rem;
}
li {
    border: solid 2px white;
    border-radius: 0.25rem;
    font-size: 2rem;
    margin: 1rem auto;
    list-style: outside none;
    background-size: cover !important;
    background-position: left !important;
}
li p {
    padding: 2.5rem;
    margin: 0px;
    height: 100%;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.33);
}

.loved {
    list-style-type: '😀 ';
}
.hated {
    list-style-type: '😡 ';
}
.atrocious {
    list-style-type: '🤬 ';
}
.mixed {
    list-style-type: '😕 ';
}
.skip {
    list-style-type: '〰️ ';
}
.trolley {
    list-style-type: '🛒 ';
}

#future > ul > li:first-child {
    list-style-type: 'Next Up '
}

#legend {
    display:flex;
    flex-wrap:wrap
}

#legend .example {
    display:inline-block;
    border: 2px solid white;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    flex-shrink: 0;
}

.adHoc{
    border-color:rgb(10, 168, 5) !important;
}
.seasonal {
    border-color:rgb(168, 5, 127) !important;
}
.dropped {
    border-color: rgba(0, 0, 0, 0.33) !important;
    background-color: white;
    background: linear-gradient(-45deg, rgba(0, 0, 0, 0.5) 38%, rgba(255,255,255,0) 38%, rgba(255,255,255,0) 65%, rgba(0,0,0,0.5) 65%);
}
.dropped p {
    background: repeating-linear-gradient(-45deg, #00000050, #00000050 1rem, #ffffff00 1rem, #ffffff00 2rem);
    width: calc(100% - 5rem);
}
.secret {
    margin-left: 3rem;
}
.secret p {
    padding: 0.25rem 2.5rem !important;
}
.hidden {
    display: none; 
}
p[onclick] {
    cursor: pointer;
}

.collapsed li:nth-child(n+9) {
    display: none;
}
.collapsed li:nth-child(6) {
    border-bottom-style: dotted;
}

button {
    margin: auto;
    font-size: 2rem;
    display: block;
    background-color: #1e2023;
    border: 2px solid white;
    border-radius: 0.25rem;
    padding: 0.75rem;
}
button:hover {
    background-color: #2e3033; 
}

#GodOfWarRagnarok {
    background: url("img/godofwar.jpg")
}
#ZeroEscapeZeroTimeDilemma
{
    background: url("img/ztd.jpg");
}
#ZeroEscapeVirtuesLastReward
{
    background: url("img/vlr.jpg");
}
#ZeroEscapeNineHoursNinePersonsNineDoors
{
    background: url("img/999.jpg");
}
#Wandersong
{
    background: url("img/wandersong.jpg");
}
#Persona4Golden
{
    background: url("img/persona 4.jpg");
}
#SteinsGate
{
    background: url("img/steinsGate.jpg");
}
#HypnospaceOutlaw
{
    background: url("img/Hypnospace_Outlaw.jpg");
    image-rendering: pixelated;
}
#HalfLife1
{
    background: url("img/hl1.jpg");
}
#HalfLife2
{
    background: url("img/hl2.jpg");
}
#HalfLife2Episode1
{
    background: url("img/hl2e1.jpg");
}
#HalfLife2Episode2
{
    background: url("img/hl2e2.jpg");
}
#DeadlyPremonition
{
    background: url("img/dp.jpg");
}
#GravityRush
{
    background: url("img/gr.jpg");
}
#ThirteenSentinels
{
    background: url("img/13s.jpg");
}
#MetalGearSolid1
{
    background: url("img/mgs1.jpg");
}
#MetalGearSolid2SonsofLiberty
{
    background: url("img/mgs2.jpg");
}
#MetalGearSolid3SnakeEater
{
    background: url("img/mgs3.jpg");
}
#MetalGearSolid4GunsofthePatriots
{
    background: url("img/mgs4.jpg");
}
#MetalGearSolidPeaceWalker
{
    background: url("img/mgspw.jpg");
}
#MetalGearSolidVGroundZeroes
{
    background: url("img/mgsgz.jpg");
}
#MetalGearSolidVPhantomPain
{
    background: url("img/mgspp.jpg");
}
#RabiRibi
{
    background: url("img/rabiribi.jpg");
}
#Dujanah
{
    background: url("img/dujanah.jpg");
}
#AISomniumFiles
{
    background: url("img/aisomnium.jpg");
}
#AISomniumFiles2
{
    background: url("img/aisomnium2.jpg");
}
#PaperMarioTTYD
{
    background: url("img/papermario.jpg");
}
#VA11HallA
{
    background: url("img/va11.jpg");
}
#CryptoftheNecrodancer
{
    background: url("img/crypt.jpg");
}
#FireEmblemThreeHouses
{
    background: url("img/3houses.jpg");
}
#Killer7
{
    background: url("img/killer7.jpg");
}
#AceCombat7SkiesUnknown
{
    background: url("img/ac7.jpg");
}
#NieRReplicantver122474487139
{
    background: url("img/nier.jpg");
}
#TheVoid
{
    background: url("img/thevoid.jpg");
}
#LegacyofKainSoulReaver
{
    background: url("img/kain.jpg");
}
#NeonWhite 
{
    background: url("img/neon.jpg");
}
#LifeIsStrange
{
    background: url("img/lifeisstrange.jpg");
}
#LifeIsStrange2
{
    background: url("img/lifeisstrange2.jpg");
}
#LifeIsStrangeBTS
{
    background: url("img/lifeisstrangebts.jpg");
}
#Stray 
{
    background: url("img/stray.jpg");
    background-position: bottom !important;
}
#CaptainSpirit
{
    background: url("img/captainspirit.jpg");
}
#ResidentEvilVillage
{
    background: url("img/residentevilvillage.jpg");
}
#LifeIsStrangeTrueColors {
    background: url("img/lifeisstrangetruecolors.jpg");
}
#MineHaunt {
    background: url("img/minehaunt.png");
    image-rendering: pixelated;
}
#Arkanoid {
    background: url("img/arkanoid.png");
    image-rendering: pixelated;
}
#DeadSpace {
    background: url("img/deadspace.jpg");
}
#BlackMesa {
    background: url("img/blackmesa.jpg");
}
#OpposingForce {
    background: url("img/opposingforce.jpg");
}
#BlueShift {
    background: url("img/blueshift.jpg");
}
#HuntDownTheFreeman {
    background: url("img/huntdownthefreeman.jpg");
}
#Forspoken {
    background: url("img/forspoken.png");
}

@media (max-width: 540px) {
    body {
        padding: 0px 1rem;
    }
    #future > ul > li:first-child {
        list-style-type: '🔜'
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }
}